



//variables de fuentes
@import "colores";
@import "fuentes";

/*Texto de sitio*/




h2{


 font-family: $josefina;
}

button{

	 font-family: $josefina;
}


nav{

	 font-family: $josefina;
	 font-size: 20px;
}


/* Diseño Footer*/

footer{

	width: 100%;
	height: 100%;
	background-color: $semigris;
  color: $blanco;
	text-align: center;
	margin: auto;

	
}

/*Imagen de fondo*/

.sectionbody{

height: 100vh;
	 background-image: url('img/diseño.png');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

.diseño

{

font-family: $josefina;
text-align: center;
color: $azulito;

}

.imagen-fondo{
	
	background-image: url("img/bodyimage.png");
	background-color: $gris;
	background-repeat: no-repeat;
   
    background-position: center;
	background-size: cover;  /*responsive para imagen*/
    padding-top: 120px;
    padding-bottom: 60px;
    height: 100vh !important;
    width: 100%;

   
}

/*Animaciones*/

.plantas1{
	margin-top: -56vh;
	margin-left: 10vh;
	background-size: cover;  /*responsive para imagen*/
	position: relative;

	
}
.plantas2{
	margin-top: -56vh;
	margin-left: 160vh;
	background-size: cover;  /*responsive para imagen*/
	position: relative;
	margin-top: 50px;


	
	
}


.mover {
        animation-name: mover;
        animation-duration: 0.4s;
        animation-iteration-count: infinite;
      }
      @keyframes mover {
        0% {
          transform: rotate(-0.3deg);
        }
        100% {
          transform: rotate(0.5deg);
        }
      }






/* Form contact*/

#contactform
{

	input{
	width: 100%;
			}


		width: 30%;
		margin-left:60%;
		background:  $transparente;
		color: $blanco;
		padding: 5vh;
		border-radius: 20px;

}


/*Servicios columns*/

.services{

width: 50%;
text-align: center;
 font-family: 'Josefin Sans';
color: $azulito;
}


/*TRANSICIONES*/

#transicion {
transition: width 0.5s !important;
	&:hover{
		width: 200px !important;
	}
}




.botoncotizar{

width: 100% !important;

}



.estrategias{
	text-align: center;
	display: flex;
	flex-flow: column;
	margin-top: 50px;
}